
# Ignore these directories
natives/*
minecraft/.fabric/*
minecraft/backup/*
minecraft/backups/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/logs/*
minecraft/mods*/*
minecraft/mods
minecraft/ModTranslations/*
minecraft/not-enough-crashes/*
minecraft/output/*
minecraft/saves/*
minecraft/shaderpacks/*
minecraft/screenshots/*
minecraft/XaeroWdssdsorldMap/*
minecraft/XaeroWaypoints/*
server/backup/*
server/backups/*
server/config/*
server/config_*/*
server/crash-reports/*
server/defaultconfigs_*/*
server/config/defaultoptions/*
server/dumps/*
server/libraries*/*
server/local/*
server/logs/*
server/luckperms/*
server/mods*/*
server/patchouli_books_*/*
server/world/*
server/world*
temp/*

# Ignore these files
*_0.*
*.code-workspace
*.disabled
*.log
*.pdat
*.properties
*.tgz
99mtw-fabric-*-server.zip
build/*server*.zip
build/99mtw-1.16.5-*.zip
builds/*(copy).zip
instance.cfg
luckperms/*
minecraft/.bobby/*
minecraft/ds_private_storage.json
minecraft/instance.cfg
minecraft/instance.cfg
minecraft/instance.json
minecraft/keys.txt
minecraft/knownkeys.txt
minecraft/local/ftbchunks/data/*
minecraft/ops.json
minecraft/options.amecsapi.txt
minecraft/options.justenoughkeys.txt
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/polymer-resourcepack.zip
minecraft/realms_persistence.json
minecraft/resourcepacks/*
minecraft/screenshots/*
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/Xaero*/*
modlist.html
server/*.tar.xz
server/1.1*.json
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/LuckPerms*.jar
server/minecraft_server*.jar
server/ops.json
server/server.json
server/usercache.json
server/usernamecache.json
server/whitelist.json

# Do not ignore these directories
!minecraft/config/customwindowtitle
!minecraft/config/defaultsettings
!minecraft/config/drippyloadingscreen
!minecraft/config/emerald_tools
!minecraft/config/EssentialCommands.properties
!minecraft/config/EssentialGUI
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!minecraft/config/gobber2
!minecraft/config/mining_dims
!minecraft/config/more_gems
!minecraft/config/MythicMounts.txt
!minecraft/config/paxi
!minecraft/config/quartzelv.json
!minecraft/config/treeaxe
!minecraft/config/yosbr
!server/config/emerald_tools
!server/config/EssentialGUI
!server/config/ftbquests
!server/config/gobber2
!server/config/mining_dims
!server/config/more_gems
!server/config/paxi
!server/config/treeaxe
!server/config/yosbr

# Still ignore this directory
#minecraft/config/betterdefaultbiomes/food

# Do not ignore these files
!minecraft/config/bcc.json
!minecraft/config/betterrecipebook.toml
!minecraft/config/conjuring.json5
!minecraft/config/customwindowtitle-client.toml
!minecraft/config/harvest.json
!minecraft/config/universal-graves.json
!minecraft/config/xaerominimap.txt
!minecraft/config/xp_storage.json5
!mmc-pack.json
!server/config/bcc.json
!server/config/conjuring.json5
!server/config/EssentialCommands.properties
!server/config/harvest.json
!server/config/MythicMounts.txt
!server/config/quartzelv.json
!server/config/universal-graves.json
!server/config/xp_storage.json5
!server/server.properties
