
# Ignore these directories
natives/*
minecraft/.fabric/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/logs/*
minecraft/mods*/*
minecraft/mods
minecraft/ModTranslations/*
minecraft/output/*
minecraft/saves/*
minecraft/shaderpacks/*
minecraft/screenshots/*
minecraft/XaeroWorldMap/*
minecraft/XaeroWaypoints/*
server/backup/*
server/backups/*
server/config/*
server/config_*/*
server/crash-reports/*
server/defaultconfigs_*/*
server/config/defaultoptions/*
server/dumps/*
server/libraries*/*
server/local/*
server/logs/*
server/mods/*
server/patchouli_books_*/*
server/world/*
server/world*

# Ignore these files
builds/*(copy).zip
build/*server.zip
builds/server*.zip
build/99mtw-1.16.5-*.zip
minecraft/ds_private_storage.json
minecraft/XaeroWaypoints*
minecraft/instance.cfg
minecraft/instance.json
minecraft/instance.cfg
minecraft/ops.json
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/resourcepacks/*
minecraft/screenshots/*
minecraft/servers.dat_old
minecraft/usercache.json
minecraft/usernamecache.json
server/whitelist.json
server/minecraft_server*.jar
server/1.1*.json
server/server.json
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/ops.json
server/usernamecache.json
server/*.tar.xz
server/usercache.json
minecraft/knownkeys.txt
instance.cfg
*.log
*.code-workspace
*.disabled
*.pdat
*_0.*
*.tgz
*.properties
modlist.html

# Do not ignore these directories
!minecraft/config/EssentialGUI
!minecraft/config/gobber2
!server/config/gobber2

# Still ignore this directory
#minecraft/config/betterdefaultbiomes/food

# Do not ignore these files
!minecraft/config/betterrecipebook.toml
!server/server.properties
!mmc-pack.json
