
# Ignore these directories
natives/*
minecraft/.fabric/*
minecraft/backup/*
minecraft/backups/*
minecraft/config/*
minecraft/crash-reports/*
minecraft/logs/*
minecraft/mods*/*
minecraft/mods
minecraft/ModTranslations/*
minecraft/not-enough-crashes/*
minecraft/output/*
minecraft/saves/*
minecraft/shaderpacks/*
minecraft/screenshots/*
minecraft/XaeroWdssdsorldMap/*
minecraft/XaeroWaypoints/*
server/backup/*
server/backups/*
server/config/*
server/config_*/*
server/crash-reports/*
server/defaultconfigs_*/*
server/config/defaultoptions/*
server/dumps/*
server/libraries*/*
server/local/*
server/logs/*
server/luckperms/*
server/mods*/*
server/patchouli_books_*/*
server/world/*
server/world*
temp/*

# Ignore these files
builds/*(copy).zip
build/*server*.zip
build/99mtw-1.16.5-*.zip
luckperms/*
minecraft/ds_private_storage.json
minecraft/keys.txt
minecraft/options.justenoughkeys.txt
minecraft/polymer-resourcepack.zip
minecraft/servers.dat
minecraft/XaeroWaypoints*
minecraft/instance.cfg
minecraft/instance.json
minecraft/instance.cfg
minecraft/ops.json
minecraft/options.amecsapi.txt
minecraft/options.txt
minecraft/optionsof.txt
minecraft/optionsshaders.txt
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/resourcepacks/*
minecraft/screenshots/*
minecraft/servers.dat_old
minecraft/usercache.json
minecraft/usernamecache.json
server/whitelist.json
server/minecraft_server*.jar
server/1.1*.json
server/server.json
server/banned-ips.json
server/banned-players.json
server/eula.txt
server/LuckPerms*.jar
server/ops.json
server/usernamecache.json
server/*.tar.xz
server/usercache.json
minecraft/knownkeys.txt
99mtw-fabric-*-server.zip
instance.cfg
*.log
*.code-workspace
*.disabled
*.pdat
*_0.*
*.tgz
*.properties
modlist.html

# Do not ignore these directories
!minecraft/config/customwindowtitle
!minecraft/config/defaultsettings
!minecraft/config/drippyloadingscreen
!minecraft/config/emerald_tools
!minecraft/config/EssentialGUI
!minecraft/config/fancymenu
!minecraft/config/gobber2
!minecraft/config/mining_dims
!minecraft/config/more_gems
!minecraft/config/paxi
#!minecraft/config/permissions
!minecraft/config/treeaxe
!minecraft/config/yosbr
!minecraft/config/EssentialCommands.properties
!minecraft/config/MythicMounts.txt
!minecraft/config/quartzelv.json
!server/config/emerald_tools
!server/config/EssentialGUI
!server/config/gobber2
!server/config/mining_dims
!server/config/more_gems
!server/config/paxi
#!server/config/permissions
!server/config/treeaxe
!server/config/yosbr
!server/config/EssentialCommands.properties
!server/config/MythicMounts.txt
!server/config/quartzelv.json

# Still ignore this directory
#minecraft/config/betterdefaultbiomes/food

# Do not ignore these files
!minecraft/config/xaerominimap.txt
!minecraft/config/betterrecipebook.toml
!minecraft/config/conjuring.json5
!minecraft/config/customwindowtitle-client.toml
!minecraft/config/harvest.json
!minecraft/config/universal-graves.json
!minecraft/config/xp_storage.json5
!server/config/conjuring.json5
!server/config/harvest.json
!server/config/universal-graves.json
!server/config/xp_storage.json5
!server/server.properties
!mmc-pack.json
minecraft/.bobby/*
minecraft/Xaero*/*
